.topPart {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
}

.contentBlock {
  width: 100%;
  height: 80vh;
  display: flex;
}

.titleAndRest {
  width: 100%;
  height: 60%;
  display: flex;
  padding: 10px;
}

.top.img {
  object-fit: cover;
}

.topImg {
  filter: brightness(40%);
}

.title {
  position: absolute;
  top: 40%;
  left: 5%;
}

.subTitle {
  position: absolute;
  top: 50%;
  left: 5.1%;
  font-size: 1.4em;
  font-weight: 500;
  color: #F2C12E;
}

.details {
  position: absolute;
  width: 80%;
  top: 88%;
  left: 5.1%;
  font-size: 1.1em;
  font-weight: 400;
  color: #F2C12E;
  display: flex;
  gap:30%;
}

.categorie {
  position: absolute;
  top:35%;
  left: 5.1%;
  font-size: 1.2em;
  font-weight: 400;
  color : #F2C12E;
}

.textAndRest {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2vh;
}

.bottomPart {
  padding-bottom: 150px;
}

.textFormater {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
}
.newStyle {
  margin-top: 10px !important;
  margin-bottom: 10px 
  !important;
}

.markdown {
  display: block;
  width: 60%;
  height: auto;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6vh;
}
.markdown2 :global(p) {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 120%;
}
.markdown2 :global(ol) {
  padding-left: 3vw;
}
.markdown2 :global(ul) {
  padding-left: 3vw;
}
.markdown2 {
  display: block;
  width: 60%;
  height: auto;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}




.author {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 2vh;
}

.authorAndPencil {
  display: flex;
  align-items: center;
  padding-left: 19%;
  width: 38%;
  color:#F2C12E;
}

.voltarButton {
  background-color: transparent;
  border: none;
  cursor:pointer;
  width: 15vw;
  height: 7vh;
  padding-left: 6.5vw;
}

.buttonImage {
  width: 9vw;
  height: 8vh;
}


@media (max-width: 1280px) {
  .title {
    font-weight: 500;

    width: 60%;
  }
  .subTitle {
    display: none;
  }

  .categorie {
    font-size: 1.8em;
    top: 34%;
  }

  .details {
    font-size: 1.8em;
    top: 80%;
    width: 90%;
  }

  .author {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
  }

  .authorAndPencil {
    display: flex;
    width: 100%;
    padding-left: 9%;
  }

  .voltarButton {
    padding-left: 45%;
    height: 6vh;
    width: 12vw;
  }

  .postText {
    font-size: 1.8em;
    width: 80%;
    padding-bottom: 20px;
  }

  .authorName {
    font-size: 1.3em;
    width: 50%;
  }

  .buttonImage {
    height: 6vh;
    width: 12vw;
  }
}

@media (max-width: 795px) {

  .topPart {
    height: 40vh;
  }

  .categorie {
    top:20%;
  }

  .title {
    font-size: 2.5em;
  }

  .categorie {
    top: 30%;
  }

  .details {
    top: 75%;
    font-size: 1.1em;
  }

  .authorAndPencil {
    padding-left: 8%;
  }

  .postText {
    font-size: 1.3em;
  }

  .buttonImage {
    width: 16vw;
    padding-left: 42%;
  }

  .voltarButton {
    width: 16vw;
    padding-left: 42%;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2em;
  }
}

@media (max-width: 560px) {
  .categorie {
    font-size: 1.3em;
  }

  .title {
    font-size: 2em;
  }

  .details {
    top:90%;
    font-size: 0.9em;
    display: flex;
    gap:5%;
  }

  .postText {
    font-size: 1.2em;
  }

  .authorAndPencil {
    padding-left: 6%;
  }

  .authorName {
    font-size: 1em;
  }

  .voltarButton {
    width: 25vw;
    padding-left: 39%;
  }

  .buttonImage {
    width: 25vw;
    padding-left: 39%;
  }
}