.image{

width: 100%;
height: 10rem;
}
.carouselContainer{
   width: 50rem;
   height: 30vw;
   border: solid 1px blue;
}
.swiperSlide{
   height: 10%;
   width: 100%;
   border: solid 1px black;
}
.slider{
   width: 100%;
   height: 100%;
}

.container{
align-self: center;
align-items: center;
margin-bottom: 10%;
}



@media only screen  and  (max-width: 1200px)  {

   .image{
    height: 30rem;
   }


}

