.toptext{
  display: flex;
  width: 50%;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10rem;
  border-left: solid 1rem #F2C12E;
padding-left: 4rem;  
line-height: 50px;

}
.container{
height: 100rem;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;



}
.main{
  display: flex;
  align-items:center ;
  justify-content: center;
  padding: 3rem;
  
    
}
.lampada{
  margin-right: 20rem;
  margin-left: 20rem;
  height: 225px;
  width: 224px;
}

.bottomtext{
  
  height: 285px;  
  width: 45%;
  text-align: center;
  align-items: center;
  display: flex;
  border-left: solid 1rem #F2C12E;
  padding-left: 4rem; 
  line-height: 50px;
}


.text-content{
  color: #ffff;
  font-size: 22px;
  font-weight: '400';
  display: flex;
}

.imagebox{
  display: flex;
  align-items: center;
  justify-content: center;

}

.ImageBoxContent{
  width: 960px;
  height: 540px;

}

.hiddenImage{
  width: 960px;
  height: 540px;

}


@media only screen and (max-width: 1640px) {
  .bottomtext {
    
    height: 285px;  
    width: 39rem;
    border-left: solid 1rem #F2C12E;
    padding-left: 3.5rem; 
  }

  .text-content{
    font-size: 20px;
  }
  .toptext{
    width: 49rem;
    height: 250px;
    padding-left: 3.5rem;
  }


   

}
@media only screen and (max-width: 1440px) {
  .bottomtext {

    height: 285px;  
    width: 39rem;
    border-left: solid 1rem #F2C12E;
    padding-left: 3.5rem; 
  }

  .text-content{
    font-size: 18px;
  }
  .toptext{
    width: 45rem;
    height: 240px;
    padding-left: 3.5rem;
    margin-left: 5rem;
  }
  .lampada{
    margin-left: 6rem;
  }

  @media only screen and (max-width: 1279px) {
    .bottomtext {
      height: 285px;  
      width: 35rem;
      border-left: solid 1rem #F2C12E;
      padding-left: 3rem; 
    }
  
    .text-content{
      font-size: 16px;
    }
    .toptext{
      width: 37rem;
      height: 230px;
      padding-left: 3rem;
      margin-left: 3rem;
    }
    .lampada{
      margin-left: 0rem;
      margin-right: 0rem;
      
    }
  }  
   

}

@media only screen and (max-width: 1152px) {
  .bottomtext {
    height: 285px;  
    width: 35rem;
    border-left: solid 1rem #F2C12E;
    padding-left: 3rem; 
  }

  .text-content{
    font-size: 15px;
  }
  .toptext{
    width: 35rem;
    height: 230px;
    padding-left: 2.5rem;
    margin-left: 2rem;
  }
  .lampada{
    margin-left: 4rem;
    width: 200px;
    height: 199px;
    margin-right: 15rem;
  }
}  
 

@media only screen and (max-width: 1024px) {
  .bottomtext {
    padding-left: 2.5rem; 
  }

  .text-content{
    font-size: 15px;
  }
  .toptext{
    width: 35rem;
    height: 230px;
    padding-left: 2.5rem;
    margin-left: 1.5rem;
  }
  .lampada{
    margin-left: 4rem;
    width: 150px;
    height: 149px;
    margin-right: 14rem;
  }
}  


@media only screen and (max-width: 800px) {
  .bottomtext {
    border: solid 1px beige;
    width: 75%;
  }
  .hiddenImage{
    display: none;
  }

  .text-content{
    font-size: 15px;
  }
  .toptext{
    border: solid 1px beige;
    
    width: 75%;
    height: 230px;
    padding-left: 2.5rem;
    
    
  }
  .imagebox{
    width: 100%;
  }

  
  .lampada{

    width: 150px;
    height: 149px;
  
  }
  .main{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: none;
  }
  .container{
    align-items: center;

  }
  .ImageBoxContent{
    width: 100%;
    height: 100%;
  }
  .text-content{
    font-size: 80%;
  }
  
}  
