.topPart {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
}

.postBlock {
  display: flex;
  justify-content: flex-end;
}

.contentBlock {
  width: 100%;
  height: 80vh;
  display: flex;
}

.text {
  top: 50%;
  left: 8%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.top.img {
  object-fit: cover;
}

.topImg {
  filter: brightness(40%);
}

.genero {
  /* position: absolute;
  top:35%;
  left: 5.1%; */
  /* font-size: 1.2em; */
  /* font-weight: 400; */
  color : #F2C12E;
}

.title {
  color: white;
  /* position: absolute;
  top: 50%;
  left: 8%; */
}

.subTitle {
  /* position: absolute;
  top: 50%;
  left: 5.1%; */
  /* font-size: 1.4em; */
  /* font-weight: 500; */
  color: #F2C12E;
}

.details {
  position: absolute;
  /* width: 80%; */
  top: 90%;
  left: 8%;
  right: 8%;
  /* font-size: 1.1em; */
  /* font-weight: 400; */
  color: #F2C12E;
  display: flex;
  justify-content: space-between;
  gap:30%;
}



/* .bottomPart {
  
} */

/* .textFormater {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
} */

.newStyle {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.markDown {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10vh 0vh 0vw;
  /* padding-top: 5vh;
  padding-bottom: 150px; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* font-weight: 300; */
  
  /* display: block; */
  /* width: 60%; */
  /* height: auto; */
  /* font-size: 18px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-bottom: 6vh; */
}

.markdown :global(p) {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 120%;
}

.markdown :global(ol) {
  padding-left: 3vw;
}

.markdown :global(ul) {
  padding-left: 3vw;
}

.markdown :global(img) {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 55vw;
  padding-top: 2vh;
  padding-bottom: 2vh;

}.markdown :global(img) {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.markdown {
  display: block;
  width: 80%;
  height: auto;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}


/* .author {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 2vh;
} */

.bottomContainer {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  align-items: flex-start;

}

.authorAndPencil {
  display: flex;
  align-items: center;
  padding-left: 10%;
  /* width: 38%; */
  width: 80%;
  color:#F2C12E;
}

.authorName {
  padding-left: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5vh 0vw;
}

/* .voltarButton {
  border: 2px solid #F2C12E;
  padding: 1rem 3rem;
  background-color: transparent;
  color: #F2C12E;
  cursor: pointer;
  transition: 0.5s;
}

.voltarButton:hover {
  background-color: #F2C12E;
  color: black;
  border: 2px solid black;
} */