.big{
    height: 100vh;
    width: 100vw;
    max-width: 100%; /* Add this line to set a maximum width */
}
.postsGrid{
    display: grid;
    /*grid-template-columns: 30vw 30vw;  Duas colunas por linha e colunas flexíveis *//* Duas colunas por linha e colunas flexíveis */
    /* grid-template-columns: 30vw 30vw; */
    /* grid-template-columns: 450px 450px 450px; */
    grid-template-columns: repeat(auto-fill, 400px);
    /* grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); */
    /* padding:5vh 20vw ; */
    /* gap: 800px; */
    grid-column-gap: 50px; /* Espaço horizontal de 20 pixels */
    grid-row-gap: 50px; /* Espaço vertical de 10 pixels */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding-left: 50px;
    padding-right: 50px;
    /*grid-template-columns: 450px 450px; *//* Duas colunas por linha e colunas flexíveis */
    /* grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); */
    /* grid-template-columns: 450px 450px 450px; */
}





/* @media only screen  and (min-width: 800px) and (max-width: 3000px)  {

   
    .postsGrid{
        
        grid-template-columns: repeat(auto-fill, 450px);
        
    }


}

@media only screen  and (min-width: 1250px) and (max-width: 1549px)  {

   
    .postsGrid{
        display: grid;
    }


} */

@media only screen  and (min-width: 400px) and (max-width: 550px) {

   
    .postsGrid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
    }


}

@media only screen  and (max-width: 399px) {

   
    .postsGrid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
    }


}